@font-face {
    font-family: regularText;
    src: url("./fonts/Rene Bieder  Milliard Light.otf");
}

@font-face {
    font-family: headerText;
    src: url("./fonts/Rene Bieder  Milliard Thin.otf")
}

html {
    background-color: hsl(0, 0%, 100%);
    background-image: url("./Images/RPP_Hero_5694.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.menu-background {
    background-image: url("./Images/surfnturf.jpg");
    background-position: 0 5%;
    background-position: center top;
    background-size: 100vw 55vh;
}

nav {
    background-color: rgba(240, 248, 255 ,.6);
    margin: 0 -9999rem;
    padding: 1.5rem 9999rem;
}

h1 {
    border-radius: 2px;
    margin: 35% auto 5% auto;
    padding: 1rem;
    background-color:rgba(102, 62, 126, .6);
    width: 12em;
    text-align: center;
    color: white;
    font-family: headerText;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 -9999rem;
    padding:  .25rem 9999rem;
}

.tab {
    display: block;
    font-size: 1.5vw;
    margin: .25rem 5rem 0 .25rem;
    font-family: regularText;
    font-size: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-imgs-div {
    margin: 15% auto 10% auto;
}

.menu-div {
    margin: 0% auto;
}

 .menu-img {
    width: 26vw;
    height: 26vh;
    margin: 0 1rem;   
 }